celery
cloudinary
django
django-anymail
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-debug-toolbar
django-jazzmin
django-redis
djangorestframework
djangorestframework-simplejwt
drf-spectacular
google-auth
gunicorn
pillow
psycopg2-binary
python-dotenv
redis
requests
uvicorn
whitenoise